# Ignore virtual environments
env/
.env/

# Ignore Python byte code cache
**/.DS_Store
**/__pycache__/*
**/migrations/*
data/

# Ignore coverage reports
.coverage
reports/

# Ignore build results
*.egg-info/
pip-wheel-metadata/
dist/

# Ignore benchmark results
.benchmarks/

# Ignore temporary tox environments
.tox/
.pytest_cache/

# Ignore PyCharm / IntelliJ files
.idea/
