{% block content %} {% load static %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'User/css/bootstrap.min.css' %}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'User/css/main.css' %}"
/>

<div class="row row-main">
  <div class="col col-left">
    <img
      src="{% static 'User/asset/imageLogin.png' %}"
      alt="My image"
      style="max-height: 100vh"
    />
  </div>
  <div class="col col-right">
    <img
      src="{% static 'User/asset/logo.png' %}"
      alt="My image"
      style="width: 250; height: 250"
    />
    <h1 class="text-style-h-1">Se connecter</h1>
    <div class="form-login">
      {% if notExisting %}
      <p>Ce compte n'existe pas</p>
      {% endif %}
      <form method="POST">
        {% csrf_token %} 
        {{ form.username.label }} <br />
        {{ form.username }}
        <br /><br />
        {{ form.password.label }} <br />
        {{ form.password }} <br />
        <input type="submit" value="Se connecter" class="button-submit text-style-button-text" />
      </form>
      <p>
        Vous n’avez pas de compte ? <a href="/register" style="color: #fd8061">Inscrivez-vous !</a>
      </p>
    </div>
  </div>
</div>

{% endblock content %}
