{% block content %} {% load static %} {% load compress %} {% compress css %}
<link
  type="text/x-scss"
  href="{% static 'css/base/main.scss' %}"
  rel="stylesheet"
  
/>

{% endcompress %}


<div class="my-5 d-flex flex-column justify-center">
  <a href="/recipe/list" >
    <img src="{% static 'asset/categories/cocktail-' %}{{category.id}}.png" alt="My image" class="w-100 h-280px"/>
    <p class="text-uppercase font-weight-regular fontSize40 font-family-secondary">{{category.name}}</p>
  </a>
</div>
{% endblock content %}
