{% block content %} {% load static %} {% load compress %} {% compress css %}
<link
  type="text/x-scss"
  href="{% static 'css/base/main.scss' %}"
  rel="stylesheet"
  
/>

{% endcompress %}

<div class="container my-5">
    <div class="text-center">
        <h1 class="mb-1">{{ recipe.name }}{{response.strDrink}}</h1>
        {% for user in users %}
            {% ifequal user.pk recipe.user.pk %}
                <p class="my-1">by {{ user.username }}</p>
            {% endifequal %}
        {% endfor %}

        <div class="d-flex justify-content-center">
            {% if categories %}
                {% for category in categories %}
                    {% ifequal category.id recipe.category_id.id %}
                        <span class="tag green mr-2">{{ category.name }}</span>
                    {% endifequal %}
                {% endfor %}
            {% else %}
                <span class="tag green mr-2">{{response.strCategory}}</span>
            {% endif %}

            {% if glasses %}
                {% for glass in glasses %}
                    {% ifequal glass.id recipe.glass_id.id %}
                        <span class="tag blue mr-2">{{ glass.name }}</span>
                    {% endifequal %}
                {% endfor %}
            {% else %}
                <span class="tag blue mr-2">{{response.strGlass}}</span>
            {% endif %}

            {% if recipe %}
                <span class="tag accent-middle mr-2">{% if recipe.is_alcoholic%}Alcoholic{% else %}Non alcoholic{% endif %}</span>
            {% else %}
                <span class="tag accent-middle mr-2">{{response.strAlcoholic}}</span>
            {% endif %}

        </div>

        <div class="d-flex shadow-card my-4" >
            {%if recipe %}
                <img src="{% static 'asset/default-recipe.png' %}" alt="cocktail" style="width: 470px;" />
            {%else %}
                <img src="{{response.strDrinkThumb}}" alt="cocktail" style="width: 470px;">
            {% endif %}

            <div class="pt-6 pl-6" style="text-align: left">
                <h2 class="mb-4">Ingredients</h2>
                <ul class="list-unstyled"> 
                {% if ingredients %}
                    {% for ingredient in ingredients %}
                        <li class="mb-3">{{ ingredient.ingredient.name }} : {{ingredient.quantity}} </li>
                    {% endfor %}
                {% elif response.strIngredients %}
                    {% for ingredient in response.strIngredients %}
                        <li class="mb-3">{{ingredient}}</li>
                    {% endfor %}                      
                {% endif %}
                </ul>
                <form method="POST">
                    {% if is_favorite %}
                        <button type="submit" name="remove" value="true" class="button secondary">Remove to favorites</button>
                    {% else %}
                        <button type="submit" name="add" value="true" class="button secondary">Add to favorites</button>
                    {% endif %}
                </form>
            </div>
        </div>

    </div>
</div>
{% endblock content %}
