{% load static %}

{% load compress %} {% compress css %}
<link type="text/x-scss" href="{% static 'css/base/main.scss' %}" rel="stylesheet" />

<link type="text/x-scss" href="{% static 'css/custom/card-recipe-horizontal.scss' %}" rel="stylesheet" />

<link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
{% endcompress %}

<div class="custom-card p-4 mb-4">
  <div class="d-flex flex-wrap">
    <div class="custom-wrapper-image mb-2">
      <img src={{recipe.thumbnail}} alt="{{recipe.name}}">
    </div>
    <div class="ml-4 mt-2 mb-1">
      <div class="d-flex flex-wrap">
        <div class="tag accent-middle mr-2 mb-2">{{recipe.category_id.name}}</div>
        <div class="tag blue mr-2 mb-2">{{recipe.glass_id.name}}</div>
        {% if recipe.is_alcoholic == True %}
        <div class="tag green mr-2 mb-2">Alcoholic</div>
        {% else %}
        <div class="tag green mr-2 mb-2">Non alcoholic</div>
        {% endif %}
      </div>
      <h2>{{recipe.name}}</h2>
      <p><small>By {{recipe.user_id.username}}</small></p>
      <div class="d-flex">
        <a class="mr-2" href="/recipe/{{recipe.pk}}">
          <button name="detail" class="button secondary">Details</button>
        </a>
      </div>
    </div>
  </div>
</div>