{% block content %} {% load static %} {% load compress %} {% compress css %}
<link
  type="text/x-scss"
  href="{% static 'css/base/main.scss' %}"
  rel="stylesheet"
  
/>

{% endcompress %}


<div class="shadow-card my-5 d-flex flex-column justify-center">
  <a href="/recipe/{{recipe.1.id}}" >
    <img
      src="{% static 'asset/default-recipe.png' %}"
      alt="My image"
      class="w-100"
    />
    <div class="flex flex-column justify-content-center align-items-center mt-3">
      <div>
        <div class="d-flex justify-content-center">
          <span class="tag primary mr-1">{{ recipe.1.category_id.name }}</span>
        </div>
      </div>
      <h4 class="txt-black text-center">{{ recipe.1.name }}</h4>
      <hr  />

      <div class="fontSize13 d-flex justify-content-center flex-wrap m-4">
          {% for ingredient in recipe.0 %}
            <p class="txt-black text-center m-1">{{ ingredient.ingredient.name }} </p>
          {% endfor %}
      </div>
    </div>
  </a>
</div>
{% endblock content %}
