{% load static %}

{% load compress %} {% compress css %}
<link
  type="text/x-scss"
  href="{% static 'css/base/main.scss' %}"
  rel="stylesheet"
  
/>

<link
  type="text/x-scss"
  href="{% static 'css/custom/card-recipe-horizontal.scss' %}"
  rel="stylesheet"
  
/>
{% endcompress %}

<div  class="custom-card p-4 mb-4">
<a href="/recipe/{{recipe.idDrink}}">
    <div class="d-flex">
        <div class="custom-wrapper-image">
          <img src={{recipe.strDrinkThumb}} >
        </div>
        <div class="ml-4">
            <div class="d-flex">
              <span class="tag accent-middle mr-2">{{recipe.strCategory}}</span>
              <span class="tag blue mr-2">{{recipe.strGlass}}</span>
              <span class="tag green mr-2">{{recipe.strAlcoholic}}</span>
              </div>
            <h2>{{recipe.strDrink}}</h2>
            <p ><small>By TODO</small></p>
            <p>  
              <strong>Ingrédients : </strong>
              {% for ingredient in recipe.strIngredients %}
              <span>{{ingredient}}</span>
              {% endfor %}
            </p>
            <form method="POST">
              {% if recipe.is_favorite %}
                  <button type="submit" name="remove" value="{{recipe.idDrink}}" class="button secondary">Remove to favorites</button>
              {% else %}
                  <button type="submit" name="add" value="{{recipe.idDrink}}" class="button secondary">Add to favorites</button>
              {% endif %}
            </form>
        </div>
      </div>
    </a>
</div>


