{% load static %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'Recipe/css/bootstrap.min.css' %}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/last-recipe.css' %}"
/>

{% if latest_recipe %}
  <div class="container">
    <ul class="wrapper">
      {% for recipe in latest_recipe %}
        {% include "card-recipe.html" with recipe=recipe categories=categories ingredient=ingredients %} 
      {% endfor %}
    </ul>
  </div>
{% else %}
  <p>No recipes are available.</p>
{% endif %}
