.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.wrapper {
  display: flex;
  gap: 26px;
  list-style: none;
  justify-content: center;
}

.wrapper > li {
  width: 100%;
}

.info-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15px;
}

.badge-pill {
  width: fit-content;
  padding: 5px;
  margin-bottom: 12px;
}

.ingredient-content {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}
