.col-left {
  overflow: hidden;
  background-color: #fffbf1;
  display: flex;
  justify-content: center;
}

.row-main {
  max-height: 100vh;
  margin: 0 !important;
}

.col-right {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%
}

.button-submit {
  background-color: #fd8061;
  color: white;
  border: none;
  margin-top: 30;
  padding: 10;
}

#id_password, #id_username   {
    width: 200%;
}