@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;800;900&family=Quicksand:wght@400;500;700&display=swap");

:root {
  --color-bg-shade: #fffbf1;
  --color-grey-text: #151875;
  --color-accent: #fd8061;
  --color-white: #ffffff;
  --color-primary: #24997f;
  --color-text: #2e2f37;
  --color-sky-blue: #59dbb7;
  --color-sale-tage-coloe: #146354;
  --color-sub-text-color: #fec0a0;
  --color-page-button-color: #fbd5d0;
}

.text-color-accent {
  color: var(--color-accent);
}

.background-color-bg-shade {
  background-color: var(--color-bg-shade);
}

.text-style-list-titles {
  font-size: 1.375rem;
  font-family: "Montserrat";
  font-weight: bolder;
  font-style: normal;
  text-decoration: none;
  color: var(--color-text);
}
.text-style-paragraph-text {
  font-size: 1rem;
  font-family: "Montserrat";
  font-weight: normal;
  font-style: normal;
  line-height: 150%;
  text-decoration: none;
  color: var(--color-text);
}
.text-style-list-item {
  font-size: 0.688rem;
  font-family: "Montserrat";
  font-weight: bolder;
  font-style: normal;
  text-decoration: none;
  color: var(--color-text);
}
.text-style-heading {
  font-size: 1.75rem;
  font-family: "Montserrat";
  font-weight: bolder;
  font-style: normal;
  text-decoration: none;
  color: var(--color-text);
}
.text-style-big-font {
  font-size: 4rem;
  font-family: "Montserrat";
  font-weight: bolder;
  font-style: normal;
  text-decoration: none;
  color: var(--color-text);
}

.text-style-button-text {
  font-size: 1rem;
  font-family: "Montserrat";
  font-weight: bolder;
  font-style: normal;
  text-decoration: none;
  color: var(--color-text);
}
.text-style-price-cut {
  font-size: 0.75rem;
  font-family: "Montserrat";
  font-weight: normal;
  font-style: normal;
  text-decoration: line-through;
  color: var(--color-text);
}
.text-style-h-2 {
  font-size: 2.625rem;
  font-family: "Montserrat";
  text-decoration: none;
  color: var(--color-text);
}
.text-style-h-1 {
  font-size: 3.312rem;
  font-family: "Montserrat";
  font-weight: 900;
  font-style: normal;
  line-height: 160%;
  letter-spacing: 0.015em;
  text-decoration: none;
}
.text-style-mobile-h-1 {
  font-size: 2.5rem;
  font-family: "Montserrat";
  font-weight: 900;
  font-style: normal;
  line-height: 160%;
  letter-spacing: 0.015em;
  text-decoration: none;
  color: var(--color-text);
}
.text-style-mobile-h-2 {
  font-size: 1.875rem;
  font-family: "Montserrat";
  text-decoration: none;
  color: var(--color-text);
}
.effect-style-shadow {
  box-shadow: 0px 8px 40px #31208a;
}
.effect-style-sasas {
  box-shadow: 0px 4px 79px #7e33e0;
}
