{% load static %} {% load compress %} {% compress css %}
<link
  type="text/x-scss"
  href="{% static 'css/base/main.scss' %}"
  rel="stylesheet"
  
/>

{% endcompress %}


{% include "head.html" %}


<div class="bg-color-primary">
    <div class="container py-3">
        <div class="d-flex justify-content-between align-items-center">

    <div class="txt-white font-weight-semibold d-lg-flex justify-content-end w-100">
        <div><a class="font-weight-semibold txt-white my-0 mx-3" href="/">Home</a> <span>|</span></div>
        <div><a class="font-weight-semibold txt-white my-0 mx-3" href="/recipe/list">Recipes</a> <span>|</span></div>
        {% if user.is_authenticated %}

        <a class="font-weight-semibold txt-white my-0 mx-3" href="/bar/fav">My bar</a> <span>|</span>
            <a class="font-weight-semibold txt-white my-0 mx-3" href="/logout">Logout</a>
        {% else %}

            <a class="font-weight-semibold txt-white my-0 mx-3" href="/login">Login</a>
        {% endif %}
    </div>
</div>
    </div>
</div>

