
{% load static %} 

<meta name="viewport" content="width=device-width, initial-scale=1">



<head>
    <title> La Levée de Coude: recipes for your favorite cocktails</title>
    <meta name="description" property="og:description" content="Do you want to discover, create and share cocktails from around the world? Discover the barista sleeping in you with La Levée de Coude 💪">
    <meta name="keywords" content="cocktails, barista, recipes, alcool">

    <link rel="icon" type="image/x-icon" href="{% static 'asset/favicon/favicon.ico' %}">

    <link rel="apple-touch-icon" sizes="180x180"  href="{% static 'asset/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'asset/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16"  href="{% static 'asset/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'asset/favicon/site.webmanifest' %}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff"> 

</head>