{% load static %} {% load compress %} {% compress css %}
<link
  type="text/x-scss"
  href="{% static 'css/base/main.scss' %}"
  rel="stylesheet"
  
/>

{% endcompress %}




<div class="bg-color-primary">
    <div class="container py-3">
        <div class="d-flex justify-content-between align-items-center">

    <div class="txt-white font-weight-semibold d-flex justify-content-md-end justify-content-xs-center w-100 flex-wrap">
        <div class=" my-2"><a class="font-weight-semibold txt-white my-0 mx-1" href="/">Home</a> <span>|</span></div>
        <div class=" my-2"><a class="font-weight-semibold txt-white my-0 mx-1" href="/recipe/list">Recipes</a> <span>|</span></div>
        {% if user.is_authenticated %}

        <div div class=" my-2"><a class="font-weight-semibold txt-white my-0 mx-1" href="/bar/fav">My bar</a> <span>|</span></div>
           <div class=" my-2"> <a class="font-weight-semibold txt-white my-0 mx-1" href="/logout">Logout</a></div>
        {% else %}

            <div class=" my-2"><a class="font-weight-semibold txt-white my-0 mx-1" href="/login">Login</a></div>
        {% endif %}
    </div>
</div>
    </div>
</div>

