{% load static %}

<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'Recipe/css/bootstrap.min.css' %}"
/>

{% include "recipe-search.html" %}

{% if recipes %}
  <div class="container justify-content-center">
    <div class="grid-md-column2">
      {% for recipe in recipes %} 
        {% include "card-recipe-horizontal.html" with recipe=recipe %}
      {% endfor %}
    </div>
    {% if recipes.has_other_pages %}
    <nav aria-label="pagination mb-5">
    <ul class="pagination">
      {% if recipes.has_previous %}
        <li><a href="?page={{ recipes.previous_page_number }}">Previous</a></li>
      {% else %}
      {% endif %}
      {% for i in recipes.paginator.page_range %}
        {% if recipes.number == i %}
          <li class="active"><span>{{ i }}</span></li>
        {% else %}
          <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}
      {% if recipes.has_next %}
        <li><a href="?page={{ recipes.next_page_number }}">Next</a></li>
      {% else %}
      {% endif %}
    </ul>
  </nav>
  {% endif %}
  </div>
{% else %}
<p>Aucune donnée</p>
{% endif %}
