<form method="POST">
  {% csrf_token %} 
  <div>
    <div class="input_label">
      {{form.name.label}}
    </div>
    <div class="input_field">
      {{form.name}}
    </div>
  </div>
  <div>
    <div class="input_label">
      {{form.categories.label}}
    </div>
    <div class="input_field">
      {{form.categories}}
    </div>
  </div>
  <div>
    <div class="input_label">
      {{form.glasses.label}}
    </div>
    <div class="input_field">
      {{form.glasses}}
    </div>
  </div>
  <div>
    <div class="input_label">
      {{form.alcoholic.label}}
    </div>
    <div class="input_field">
      {{form.alcoholic}}
    </div>
  </div>
  <input
    type="submit"
    value="Rechercher"
    class="button-submit text-style-button-text"
  />
</form>
